html,
body {
  background: #587c7c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  width: 100%;
}
#contenido {
  background: #000;
  padding: 2em;
  border-radius: 1.5em;
  box-shadow: 0 5px 15px black;
}
#contenido #titulo h2 {
  margin: 0;
  color: #fff;
  text-align: center;
  margin-bottom: 28px;
}
#contenido #respuestas {
  background: #fff;
  height: 350px;
  padding: 2em;
}
#contenido #respuestas p {
  text-align: justify;
}
#contenido img[alt="robot"] {
  height: 350px;
}
#contenido #formulario {
  margin: .5em 0;
  padding: 0;
}
#contenido #formulario .form-group.form-group-lg {
  margin: 0;
}
